<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>图书详情</title>
    <link type="text/css" rel="stylesheet" th:href="@{/asserts/css/style.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/asserts/js/jquery.min.js}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/asserts/js/tools.js}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/asserts/css/book_detail.css}"/>
</head>
<body>
<div th:insert="commons/header::header" class="main" style="width: 777px;"></div>
<div class="main" style="width: 900px;">
    <!-- 图书大图片 -->
    <div class="show_pic">
        <img class="pic" th:src="@{'../asserts/img/'+${book.coverImage}}" style="box-shadow:0px 0px 10px grey;"/>
    </div>

    <div class="show_info">
        <h2 th:text="${book.name}"></h2>
        <ul class="intro">
            <li th:text="'图书编号：'+${book.id}"></li>
            <li th:text="'价格：'+${book.price}"></li>
            <li th:text="'作 者：'+${book.author}"></li>
            <li th:text="'出 版 社：'+${book.press}"></li>
            <li>
                <span th:text="'出版日期：'+${#dates.format(book.publishDate, 'yyyy-MM-dd')}"></span>
                <span th:text="'ISBN：'+${book.isbn}"></span>
            </li>
            <li>
                <span th:text="'页 数：'+${book.pageCount}"></span>
                <span th:text="'字 数：'+${book.wordCount}"></span>
            </li>
        </ul>

        <div class="buy-area">
            <form th:action="'../buyBook/'+${book.id}" method="post">
                <input type="hidden" name="action" value="addSubmit"/>
                <input type="hidden" name="bookId" value="${book.id }"/>
                <label>我要买：</label>
                <input type="text" name="count" value="1" size="4"/> 本
                <input type="submit" class="add-cart" value=""/>
            </form>
        </div>

    </div>

    <div style="clear: both;"></div>

    <div class="pro_content">
        <div class="section">
            <div class="tit">内容简介</div>
            <div class="descrip" th:text="${book.description}"></div>
        </div>
    </div>

</div>
<div th:insert="commons/footer::footer" class="main" style="width: 777px;"></div>
</body>
</html>