<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>修改密码成功</title>
	<link type="text/css" rel="stylesheet" th:href="@{/asserts/css/style.css}"/>
</head>
<body>
<div th:insert="commons/header::header" class="main" style="width: 777px;"></div>
	<div class="main" style="width: 900px;">
		<div class="success">修改密码成功</div>
	</div>
<div th:insert="commons/footer::footer" class="main" style="width: 777px;"></div>
</body>
</html>