<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>用户注册！</title>
    <link type="text/css" rel="stylesheet" th:href="@{/asserts/css/style.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/asserts/js/jquery.min.js}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/asserts/js/tools.js}"/>
</head>
<body>
<div th:insert="commons/header::header" class="main" style="width: 777px;"></div>
<div class="main" style="width: 400px;">

    <div class="message">
        <p>登录页面</p>
    </div>

    <form action="/loginSubmit" method="post">
        <input type='hidden' name="action" value="loginSubmit"/>
        <!-- 用户名 -->
        <div class="text-input">
            <label for="email">邮箱</label>
			<input id="email" name="email" type="text" />
			<span id="emailTip"></span>
        </div>
        <!-- 密码 -->
        <div class="text-input">
            <label for="password">密码</label>
			<input id="password" name="password" type="password"/>
			<span id="passwordTip"></span>
        </div>
        <p>
            <a href="/retrievePassword">找回密码</a>
        </p>
        <br/> <br/> <input type="submit" value="   登   录   "/>
    </form>
</div>
<div th:insert="commons/footer::footer" class="main" style="width: 777px;"></div>
</body>
</html>