<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>model</title>
    <link type="text/css" rel="stylesheet" th:href="@{/static/asserts/css/style.css}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/asserts/js/jquery.min.js}"/>
    <link type="text/css" rel="stylesheet" th:href="@{/static/asserts/js/tools.js}"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<div th:insert="commons/header::header" class="main" style="width: 777px;"></div>

<div th:insert="commons/footer::footer" class="main" style="width: 777px;"></div>
</body>
</html>